VITE_SUPABASE_URL=https://rjlqdsohxlssxapwtkow.supabase.co
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InJqbHFkc29oeGxzc3hhcHd0a293Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3ODg1NTA2ODAsImV4cCI6MjEwNDEyNjY4MH0.hMsO-UBalSN22EdDyoZw40tGVw3tAfINVCA5a10zaA8

